.navbar li {
    list-style-type: none;
    margin: 0 12px;
}

.navbar {
    display: flex;
    height: 80px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Source Sans 3', sans-serif;
}