@media (max-width: 1078px) {
    .section5 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

@media (max-width: 700px) {
    .section5 {
        display: flex;
        flex-direction: column;
    }
}